body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;

}

.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px whitesmoke;
    background-color: black;
}

.display {
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    background-color: #eee;
    background-color: black;
    color: lightgray;
    text-emphasis: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    color: #f0f0f0;
    
}

button {
    padding: 15px;
    font-size: 1.2em;
    border:#f0f0f0;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #f0f0f0;
    background-color: black;
}

button:hover {
    background-color: #ddd;
}